version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - backend/.env
    environment:
      - DATABASE_URL=
      - OPENAI_API_KEY=
    depends_on:
      - db
    ports:
      - '8000:8000'
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - VITE_API_URL=
    ports:
      - '8080:80'
    depends_on:
      - backend
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: